// Variables of Mist scheme
// =================================================

$font-size-headings-base = 26px

$karl-taobao-color       = #fc9b00      // http://jm.taobao.org/

$brand-color             = $black-deep
// $brand-hover-color    = $brand-color
$brand-hover-color       = $karl-taobao-color

$site-meta-text-align    = left
$posts-collapse-left     = 0

$read-more-color         = $link-color
$read-more-bg-color      = transparent
$read-more-hover-color   = $karl-taobao-color

$karl-link-color         = #2d96bd
$karl-link-hover-color   = $karl-taobao-color
